body { overflow-x: hidden;}
img { width: 600px; max-width: 100%; }
.map-container { max-width: 100%; display: block; overflow: hidden;}
.marker-number { border-radius: 100%; padding: 5px; background-color: #D94100; color: #fff; opacity: 0.5;}